.about-section {
  width: 90%;
  height: auto;
  margin-left: 5%;
  float: left;
  margin-bottom: 100px;
}
.leftskill {
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
}

.rightskill {
  width: 50%;
  height: 100vh;
  float: right;
  position: relative;
}

.card-container {
  width: 85%;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 3px grey;
}

.left-card-container {
  width: 60%;
  height: 100%;
  float: left;
  background-color: black;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
}

.div-poze-profil {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.right-card-container {
  width: 40%;
  height: 100%;
  float: right;
  position: relative;
}

.skills-bar-container {
  width: 90%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-skills {
  width: 100%;
  height: 30px;
  background-color: #09070e;
  border-radius: 10px;
  margin-bottom: 10px;
}

.skills-bar {
  width: 90%;
  height: 100%;
  background-color: #f2b969;
  float: left;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.secound-skills-bar {
  width: 70%;
  height: 100%;
  background-color: #f2b969;
  float: left;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.third-skills-bar {
  width: 90%;
  height: 100%;
  background-color: #f2b969;
  float: left;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.text-card {
  line-height: 30px;
  color: #09070e;
  font-size: 1.2rem;
  padding-left: 20px;
}
.div-container-right-skills {
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.div-container-right-skills h4 {
  color: lightgray;
  font-size: 1.8em;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
}

.div-container-right-skills h3 {
  color: black;
  font-size: 1.5rem;
}

.flip-card {
  width: 85%;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 3px grey;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 320px;
  border-radius: 17px;
}
.flip-card-back {
  background-color: #09070e;
  color: white;
  transform: rotateY(180deg);
  width: 100%;
  height: 320px;
  border-radius: 17px;
}
.flip-card-back h3 {
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.flip-card-back p {
  font-size: 18px;
  letter-spacing: unset;
  opacity: 0.7;
  margin: 10px 0 0 10px;
  text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .leftskill {
    width: 100%;
    height: 100vh;
  }
  .rightskill {
    width: 100%;
    height: 100vh;
  }

  .div-poze-profil {
    width: 120px;
    height: 120px;
  }

  .card-container {
    width: 95%;
    height: 250px;
  }

  .text-card {
    font-size: 0.9rem;
    padding-left: 10px;
  }

  .flip-card {
    width: 95%;
    height: 250px;
    margin-top: 25px;
  }
  .flip-card-front {
    width: 100%;
  }
  .flip-card-front img {
    width: 100%;
    height: 250px;
    border-radius: 17px;
  }

  .flip-card-back {
    width: 100%;
    height: 250px;
  }
  .flip-card-back p {
    font-size: 16px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .div-poze-profil {
    width: 140px;
    height: 140px;
  }

  .card-container {
    width: 95%;
    height: 250px;
    margin-top: 25px;
  }
  .flip-card {
    width: 95%;
    height: 250px;
    margin-top: 25px;
  }
  .flip-card-front {
    width: 100%;
  }
  .flip-card-front img {
    width: 100%;
    height: 250px;
    border-radius: 17px;
  }

  .flip-card-back {
    width: 100%;
    height: 250px;
  }
  .flip-card-back p {
    font-size: 16px;
  }
  .text-card {
    font-size: 0.9rem;
    padding-left: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .div-poze-profil {
    width: 140px;
    height: 140px;
  }

  .card-container {
    width: 95%;
    height: 250px;
    margin-top: 25px;
  }
  .flip-card {
    width: 95%;
    height: 250px;
    margin-top: 25px;
  }
  .flip-card-front {
    width: 100%;
  }
  .flip-card-front img {
    width: 100%;
    height: 250px;
    border-radius: 17px;
  }

  .flip-card-back {
    width: 100%;
    height: 250px;
  }
  .flip-card-back p {
    font-size: 16px;
  }
  .text-card {
    font-size: 0.9rem;
    padding-left: 10px;
  }
}
