.contact-section {
  width: 90%;
  height: 1000px;
  margin-left: 5%;
  float: left;
}

.section-titles {
  color: #09070e;
  text-align: center;
}

.left-contact {
  height: 100vh;
  width: 50%;
  float: left;
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.content-div-contact {
  position: absolute;
  width: 60%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-div-contact input {
  width: 100%;
  height: 30px;
  border-radius: 7px;
  margin-top: 25px;
}
input {
  padding-left: 10px;
}
.content-div-contact textarea {
  width: 100%;
  border-radius: 7px;
  margin-top: 25px;
}

.send-btn {
  font-size: 20px;
  border: 2px solid #f2b969;
  cursor: pointer;

  color: rgba(0, 0, 0, 0, 7);
  border-radius: 7px;
  padding: 7px 15px;
}
.send-btn:hover {
  color: #f2b969;
  border: 2px solid black;
}

.right-contact {
  float: right;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/better.svg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
}

/* 
.socialmedia-contact {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.facebook a {
  font-size: 30px;
  color: #3b5998;
}
.mail a {
  font-size: 30px;
  color: #410093;
}

.twitter a {
  font-size: 30px;
  color: #1da1f2;
}

.linkedin a {
  font-size: 30px;
  color: #0077b5;
}

.socialmedia-contact {
  padding-top: 400px;
}
.right-contact {
  border: 5px solid blue;
}
.socialmedia-contact {
  border: 3px solid black;
}
.right-content-contact {
  border: 4px solid green;
} */
#textarea {
  width: 100%;
  height: 150px;
}
#textarea-remaining-chars {
  color: #09070e;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .left-contact {
    height: 50%;
    width: 90%;
    margin-left: 5%;
  }
  .right-contact {
    height: 50%;
    width: 90%;
    margin-left: 5%;
  }
  .send-btn {
    font-size: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .left-contact {
    height: 50%;
    width: 90%;
    margin-left: 5%;
  }
  .content-div-contact {
    margin-top: -18rem;
    width: 100%;
  }
  .right-contact {
    height: 50%;
    width: 90%;
    margin-left: 5%;
  }
  .send-btn {
    font-size: 14px;
  }
}
