.gallery-section {
  width: 90%;
  height: auto;
  margin-left: 5%;
  float: left;
  text-align: center;
  margin-bottom: 100px;
  background-color: #09070e;
}
.gallery-section .section-titles {
  color: #fafafa;
  margin-top: 30px;
}

.gallery-border {
  width: 160px;
  height: 5px;
  background-color: #f2b969;
  margin: 26px auto;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 5px;
}

.column {
  float: left;
  width: 33.33%;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding: 10px;
}

.show {
  display: block;
}

.btn {
  font-size: 18px;
  border-radius: 17px;
  padding: 7px 12px;
  background: #f2b969;
  color: #09070e;
  text-align: center;
  margin-left: 15px;
  border: none;
  outline: none;
}
.btn:hover {
  color: #fafafa;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .column {
    width: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column {
    width: 100%;
  }
}
