.testimonials-section {
  width: 90%;
  height: auto;
  margin-left: 5%;
  float: left;
  color: #434343;
  text-align: center;
  background-color: black;
}
.testimonials-section .section-titles {
  color: #f2b969;
}

.testimonials-content {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.testimonials-content h4 {
  color: #fafafa;
  padding-top: 100px;
}
.border {
  width: 160px;
  height: 5px;
  background-color: #f2b969;
  margin: 26px auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 15px;
}
.testimonial {
  background: #fff;
  padding: 30px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars {
  color: #09070e;
  margin-bottom: 20px;
}
.checked {
  color: #f2b969;
}
.col .testimonial {
  border-radius: 10px;
}
@media screen and (min-width: 768) and (max-width: 1024px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}
